MCP_ENDPOINT=
VOLCENGINE_SEARCH_API_KEY=
XIAOHONGSHU_MCP_URL=

AIRI_IOS_TEAM_ID=KA4786U458
AIRI_IOS_BUNDLE_ID=com.tianhaoxi.airi.pocket
AIRI_IOS_SIGNING_STYLE=automatic
AIRI_IOS_PROVISIONING_PROFILE=
AIRI_IOS_CODE_SIGN_IDENTITY=
AIRI_ASC_API_KEY_PATH=/Users/<you>/.appstoreconnect/private_keys/AuthKey_<KEY_ID>.p8
AIRI_ASC_API_KEY_ID=<KEY_ID>
AIRI_ASC_ISSUER_ID=<ISSUER_ID>
